* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html {
    scroll-behavior: smooth;
}

body {
    overflow-x: hidden;
    font-family: 'Quicksand', Arial, Helvetica, sans-serif;
}

/***********/
/***********/
/*Scrollbar*/
/***********/
/***********/
::-webkit-scrollbar {
    width: 0.5625rem;/*9px*/ /*Ancho de la barra de desplazamiento*/
}

::-webkit-scrollbar-track {
    background-color: #000000; /*Color de fondo del track*/
}

::-webkit-scrollbar-thumb {
    background-color: #333; /*Color del thumb*/
    border-radius: 0.5625rem; /*Bordes redondeados*/
}

::-webkit-scrollbar-thumb:hover {
    background-color: #444; /*Cambia de color al pasar el mouse*/
}

::-webkit-scrollbar-button {
    display: none; /*Esto oculta las flechas de arriba y abajo*/
}

/*******************/
/*******************/
/*Estilos generales*/
/*******************/
/*******************/
a {
    text-decoration: none;
}

ul {
    list-style-type: none;
}

button,
.btn {
    cursor: pointer;
    font-family: 'Quicksand', Arial, Helvetica, sans-serif;
    border: none;
    border-radius: 0.375rem; /*6px*/
    transition: color 0.3s ease, background-color 0.3s ease, transform 0.3s ease;
    text-transform: uppercase;
}

button:hover
.btn:hover {
    transform: scale(1.02);
}

.container {
    max-width: 1440px;
    margin: 0 auto;
}

.section {
    padding: 1.875rem 90px;
}

.one,
.two,
.three,
.four,
.five {
    display: flex;
    gap: 1.875rem; /*30px*/
}

.two,
.three,
.four,
.five {
    justify-content: space-between;
    align-items: start;
    flex-wrap: wrap;
}

.one {
    flex-direction: column;
}

.two {
    align-items: center;
}

.two > div,
.two > article,
.two > a {
    flex: 1 1 calc(50% - 1.875rem);
    max-width: calc(50% - 1.875rem);
}

.three > div,
.three > article,
.three > a {
    flex: 1 1 calc(33.33333333% - 1.875rem);
    max-width: calc(33.33333333% - 1.875rem);
}

.four > div,
.four > article,
.four > a {
    flex: 1 1 calc(25% - 1.875rem);
    max-width: calc(25% - 1.875rem);
}

.five > div,
.five > article,
.five > a {
    flex: 1 1 calc(20% - 1.875rem);
    max-width: calc(20% - 1.875rem);
}

/******************/
/******************/
/*Principal-Header*/
/******************/
/******************/
.principal-header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 999;

    transition: background-color 0.1s ease, padding 0.1s ease;
}

.principal-header.scrolled {
    background-color: #000000;
    transition: background-color 0.1s ease, padding 0.1s ease;
}

.navigation-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1.875rem 3.75rem; /*30 y 60*/

    transition: background-color 0.1s ease, padding 0.1s ease;
}

/*La clase scrolled se va alternando con js cuando el scroll es mayor a 0*/
.navigation-container.scrolled {
    padding: 7.5px 3.75rem;
    transition: background-color 0.1s ease, padding 0.1s ease;
}

/******/
/******/
/*Logo*/
/******/
/******/
.logo h1 {
    font-family: 'Pacifico', cursive;
    font-size: 42px;
    font-weight: 900;
    text-shadow: 0px 3px 9px rgba(0, 0, 0, 1);
}

.logo h1 span:nth-child(1) {
    color: #fff;
}

.logo h1 span:nth-child(2) {
    color: #ef476f;
}

.logo-footer {
    text-align: end;
}

.logo-footer > .logo h1 {
    font-size: 39px;
}

/*****/
/*****/
/*Nav*/
/*****/
/*****/
.principal-nav li {
    display: inline-block;
    margin-right: 1.875rem; /*30px*/
}

.principal-nav li:last-child {
    margin-right: 0;
}

.principal-nav a,
.carrito a {
    font-size: 18px;
    font-weight: 600;
    text-transform: uppercase;
    color: #fff;
    position: relative;
    display: block;
    padding: 0.46875rem 0px; /*7.5px*/
    text-shadow: 0px 3px 9px rgba(0, 0, 0, 1);
    transition: color 0.6s ease, transform 0.6s ease;
}

.principal-nav a:hover,
.carrito a:hover {
    color: #ee6c4d;
    font-weight: 700;
}

.principal-nav a::after,
.carrito a::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    height: 3px;
    width: 0%;
    border-radius: 3px;
    background-color: #ee6c4d; /*Color de la línea*/
    transition: width 0.6s ease;
}

.principal-nav a:hover::after,
.carrito a:hover::after {
    width: 100%; /*Línea al 100% al hacer hover*/
}

/*Para el item que tiene la clase "active"*/
.principal-nav li.active a::after,
.carrito.active a::after {
    width: 100%; /*La línea ya está al 100%*/
}

#cart-count {
    position: absolute;
    top: -12px;
    right: -9px;
    background: red;
    color: #fff;
    border-radius: 50%;
    font-size: 12px;
    font-weight: 500;
    width: 21px;
    height: 21px;
    align-content: center;
    text-align: center;
}

/**************/
/**************/
/*Hero Section*/
/**************/
/**************/
.hero-section {
    width: 100%;
    height: 100vh;
    background-image: url('../img/fondo-hero.webp');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
}

.hero-section::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /*Oscurecer la imagen*/
    z-index: 1;
}

.hero-content {
    z-index: 2;
    text-align: center;
    max-width: 900px;
}

.hero-content h2 {
    font-family: 'Pacifico', cursive;
    font-size: /*4.6875rem*/60px; /*75px*/
    color: #ffffff;
    font-weight: 500;
    text-shadow: 0px 3px 9px rgba(0, 0, 0, 1);
    margin-bottom: 6px; /*12px*/
}

.hero-content h2 span:nth-child(1) {
    color: #fff/*#ee6c4d*//*#D32F2F*/;
}

.hero-content h2 span:nth-child(2) {
    color: #ef476f;
}

.hero-content p {
    font-size: 24px;
    font-weight: 500;
    color: #ffffff;
    text-shadow: 0px 3px 9px rgba(0, 0, 0, 1);
    margin-bottom: 6px;
}

.hero-content p:first-child {
    margin-bottom: 0;
}

.hero-content p:last-child {
    margin-bottom: 0;
}

.hero-content a {
    margin: 9px 0;
}

.a-button {
    display: inline-block;
    text-transform: uppercase;
    font-weight: 700;
    padding: 7.5px 18px;
    border-radius: 6px;
    text-shadow: 0px 1px 6px rgba(0, 0, 0, 1);
    color: #fff;
}

.hero-content .a-button {
    font-size: 24px;
    background-color: /*rgba(255, 165, 0, 1)*/#ee6c4d;
    transition: background-color 0.3s ease, box-shadow 0.1s ease;
    box-shadow: 0px 6px 3px rgba(0, 0, 0, 1);
}

.hero-content .a-button:hover {
    background-color: rgba(255, 100, 0, 1);
}

.hero-content .a-button:active {
    box-shadow: 0px 0px 0px rgba(0, 0, 0, 1);
}

.hero-content i,
.info-contacto i {
    color: /*#D32F2F*/red;
    width: 30px;
    display: inline-block;
}

/*******************/
/*Sección animación*/
/*******************/
.animation-section {
    opacity: 0;
    transform: translateY(0.9375rem); /*15px*/
    transition: opacity 0.6s ease, transform 0.6s ease;
}

.animation-section-visible {
    opacity: 1;
    transform: translateY(0);
}

/**/
.text-container {
    text-align: center;
}

.text-container h2 {
    font-size: 39px; /*60px*/
    margin-bottom: 0.9375rem; /*15px*/
    font-weight: 700;
}

.text-container p {
    font-size: /*1.125rem*/21px; /*18px*/
    font-weight: 500;
    color: #000;
    line-height: 1.5;
    margin-bottom: 0.9375rem; /*15px*/
}

.text-container p:last-child {
    margin-bottom: 0;
}

/*********/
/*Divisor*/
/*********/
.divisor-container {
	max-width: 1440px;
    margin: 0 auto;
	padding: 0 3.75rem;
}

.divisor {
    border: none;
    border-radius: 0.9375rem;
    height: 2px;
    background-color: rgba(238, 108, 77, 0.5);
    width: 100%;
}

/****************/
/*Section header*/
/****************/
.header-section {
    margin-bottom: 1.875rem; /*30px*/
    text-align: center;
}

.header-section h2 {
    font-size: 39px; /*45px*/
    font-weight: 700;
}

/********************/
/********************/
/*Promotions-section*/
/********************/
/********************/
.tarjeta-promocion {
    border-radius: 6px;
    position: relative;
}

.tarjeta-promocion::before {
    content: '';
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    border-radius: 6px;
}

.tarjeta-promocion img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    border-radius: 6px;
}

.promotion-info {
    position: absolute;
    width: 100%;
    height: 100%;
    text-align: center;
    top: 0;
    left: 0;
    align-content: center;
    z-index: 2;
    padding: 15px;
}

.promotion-info h2 {
    font-size: 36px; /*42px*/
    color: #ffffff;
    text-shadow: 0px 3px 9px rgba(0, 0, 0, 1);
    margin-bottom: 0.1875rem; /*3px*/
}

.promotion-info p {
    font-size: /*1.3125rem*/24px; /*21px*/
    color: #ffffff;
    text-shadow: 0px 3px 9px rgba(0, 0, 0, 1);
    font-weight: 500;
    margin-bottom: 0.9375rem; /*15px*/
}

.tarjeta-promocion .a-button {
    font-size: 21px;
}

.tarjeta-promocion .a-button {
    background-color: rgba(255, 100, 0, 1);
    box-shadow: 0px 6px 3px rgba(0, 0, 0, 1);
    transition: background-color 0.2s ease;
}

.tarjeta-promocion .a-button:hover {
    background-color: rgba(204, 85, 60, 1);
}

.tarjeta-promocion .a-button:active {
    box-shadow: 0px 0px 0px rgba(0, 0, 0, 1);
}

/***********************/
/***********************/
/*Pizzas-styles-section*/
/***********************/
/***********************/
.pizza-tipo {
    text-align: center;
    transition: transform 0.3s ease;
    border-radius: 6px;
    position: relative;
}

.pizza-tipo::before {
    content: '';
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.3);
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    border-radius: 6px;
}

.pizza-tipo:hover {
    transform: scale(1.03);
}

.pizza-tipo img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    border-radius: 6px;
}

.pizza-tipo h3 {
    font-size: 36px; /*42px*/
    color: #ffffff;
    text-shadow: 0px 3px 6px rgba(0, 0, 0, 1);
    text-transform: uppercase;

    position: absolute;
    width: 100%;
    height: 100%;
    text-align: center;
    top: 0;
    left: 0;
    align-content: center;
    z-index: 3;
    padding: 15px;
}

.btn-general {
    font-size: 21px;
    background-color: /*rgba(255, 165, 0, 1)*/#ee6c4d;
    transition: background-color 0.3s ease, box-shadow 0.1s ease;
    box-shadow: 0px 6px 3px rgba(0, 0, 0, 1);
}

.btn-general:hover {
    background-color: rgba(255, 100, 0, 1);
}

.btn-general:active {
    box-shadow: 0px 0px 0px rgba(0, 0, 0, 1);
}

/*****************/
/*****************/
/*Contact section*/
/*****************/
/*****************/
.info-contacto {
    text-align: center;
    /*background-color: rgba(0, 0, 0, 1);*/
    border-radius: 6px;
    padding: 30px;
    /*box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.3);*/
}

.info-contacto .logo h1 {
    font-size: 60px; /*51px*/
    margin-bottom: 15px; /*6px*/
}

.info-contacto span {
    color: #ef476f;
}

.info-contacto p {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 24px/*1.3125rem*/; /*21px*/
    font-weight: 400;
    color: #000;
    margin-bottom: 15px; /*9px*/
}

.info-contacto p:last-child {
    margin-bottom: 0;
}

.info-contacto i {
    margin-right: 15px; /*9px*/
    font-size: 1.3125rem; /*21px*/
    width: 1.3125rem; /*21px*/
}

.map-container iframe {
    width: 100%;
    max-height: 360px;
    border-radius: 6px; /*15px*/
    box-shadow: 0px 0px 3px rgba(0, 0, 0, .6);
}

/*****************/
/*****************/
/*Sección Galería*/
/*****************/
/*****************/
.gallery {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: 240px; /*300px*/
    box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.3);
    gap: 0px;
}

.gallery-item {
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
}

.gallery-item img {
    width: 100%;
    height: 100%;
    display: block;
    object-fit: cover;
    object-position: center;
}

/******************/
/******************/
/*Principal-footer*/
/******************/
/******************/
.principal-footer {
    width: 100%;
    background-color: #293241;
}   

.footer-content {
    align-items: center;
}

.newsletter-footer h4 {
    font-size: 33px;
    color: #ffffff;
    font-weight: 700;
    margin-bottom: 15px;
    text-shadow: 0px 3px 6px rgba(0, 0, 0, 1);
}

.newsletter-footer form {
    display: flex;
    align-items: center;
    justify-content: start;
    margin-bottom: 15px;
}

.newsletter-footer form input {
    height: 2.4375rem; /*39px*/
    width: 15rem; /*240px*/
    padding: 0.375rem; /*6px*/
    font-size: 1.125rem; /*18px*/
    font-weight: 400;
    border: none;
    border-radius: 6px 0px 0px 6px;
}

.newsletter-footer form button {
    height: 2.4375rem; /*39px*/
    width: 2.8125rem; /*45px*/
    color: #fff;
    background-color: #ee6c4d;
    border: none;
    border-radius: 0px 6px 6px 0px;
    font-size: 1.125rem; /*18px*/
    font-weight: 700;
    cursor: pointer;
    transition: background-color 0.3s ease, color 0.3s ease, border 0.1s ease;
}

.newsletter-footer form button:hover {
    background-color: #000;
}

.newsletter-footer p {
    color: #ffffff;
    font-size: /*1.125rem*/21px; /*18px*/
    font-weight: 400;
    text-shadow: 0px 3px 6px rgba(0, 0, 0, 1);
}

.footer-content > ul > li {
    margin-bottom: 15px; /*12px*/
}

.footer-content > ul > li:last-child {
    margin-bottom: 0;
}

.footer-content > ul > li > a {
    font-size: 18px; /*15px*/
    color: #fff;
    font-weight: 500;
    padding: 0.1875rem; /*3px*/
    transition: color 0.3s ease;
}

.footer-content > ul > li > a:hover {
    color: #ee6c4d;
}

.social-media-footer {
    display: flex;
    align-items: center;
    justify-content: end;
}

.social-media-footer li {
    margin-right: 0.9375rem; /*15px*/
}

.social-media-footer li:last-child {
    margin-right: 0;
}

.social-media-footer a {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: #000;
    font-size: 1.125rem; /*18px*/
    width: 2.25rem; /*36px*/
    height: 2.25rem; /*36px*/
    background-color: #fff;
    padding: 0.375rem; /*6px*/
    border-radius: 50%;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.social-media-footer a:hover {
    background-color: #000;
    color: #fff;
}

.footer-divisor {
    height: 0.125rem; /*2px*/
    border-radius: 0.375rem; /*6px*/
    background-color: #fff;
    margin: 1.875rem auto; /*30px*/
    border: none;
    width: 100%;
    max-width: 1440px;
}

.final-page {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.final-page p {
    font-size: 0.9375rem; /*15px*/
    color: #fff;
    font-weight: 600;
}

.final-page p a {
    color: #ee6c4d;
}

/******************/
/******************/
/*Heading sections*/
/******************/
/******************/
.encabezado-pagina {
    width: 100%;
    height: 60vh;
    position: relative;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.encabezado-pagina::before {
    content: '';
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.3);
    z-index: 1;
}

.encabezado-pagina-content {
    text-align: center;
    margin-top: 1.875rem;
    color: #fff;
    z-index: 2;
    max-width: 1024px;
}

.encabezado-pagina-content h2 {
    font-size: 45px;
    font-weight: 700;
    margin-bottom: 15px;
    text-shadow: 0px 3px 9px rgba(0, 0, 0, 1);
}

.encabezado-pagina-content p {
    font-size: 24px/*1.3125rem*/; /*21px*/
    font-weight: 500;
    text-shadow: 0px 3px 6px rgba(0, 0, 0, 1);
}

/******************/
/******************/
/*Menu page styles*/
/******************/
/******************/
/*.section-menu {
    display: flex;
    justify-content: space-between;
    align-items: start;
    gap: 15px; /*20px*/
    /*flex-direction: column;
}*/

.aside-filter-menu {
    display: flex;
    justify-content: start;
    align-items: center;
    margin-bottom: 15px;
}

.aside-filter-menu,
.grid-menu {
    box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.3);
    border-radius: 6px; /*12px*/
    padding: 30px; /*20px*/
}

.aside-filter-menu h2 {
    font-size: 1.875rem; /*30px*/
    font-weight: 600;
    margin-right: 60px;
    /*margin-bottom: 0.9375rem;*/ /*15px*/
}

.aside-filter-menu li {
    /*margin-bottom: 7.5px;*/
    margin-right: 15px; /*9px*/
    position: relative;
    display: inline-block;
}

.aside-filter-menu li:last-child {
    margin-bottom: 0;
}

.filter-button {
    border: none;
    border-radius: 6px; /*9px*/
    color: #333333;
    background-color: transparent;
    font-size: /*15px*/16px; /*16px*/
    font-weight: 500;
    cursor: pointer;
    padding: 0.375rem; /*6px*/
    transition: background-color 0.3s ease;
    will-change: background-color;
}

.aside-filter-menu .filter-button.active {
    background-color: #000;
    color: #fff;
}

.grid-menu {
    display: grid;
    gap: 30px;
    grid-template-columns: repeat(3, 1fr);
}

.pizza-card {
    box-shadow: 0px 0px 6px rgba(0, 0, 0, .3);
    text-align: center;
    padding: 0.9375rem;
    border-radius: 6px;
}

.pizza-card img {
    width: 100%;
    height: auto;
    object-fit: cover;
    display: block;
    border-radius: 6px;
    margin-bottom: 7.5px;
}

.pizza-card h3 {
    font-size: 1.5rem; /*24px*/
    font-weight: 700;
    margin-bottom: 7.5px; /*3px*/
}

.pizza-card p {
    font-size: /*0.9375rem*/18px; /*15px*/
    font-weight: 400;
    color: #000;
    margin-bottom: 0.375rem; /*6px*/
}

.pizza-card p:last-of-type {
    color: #333;
    font-weight: 600;
}

.btn-pizza-card {
    background-color: rgba(255, 100, 0, 1);
    color: #ffffff;
    border-radius: 6px; /*9px*/
    padding: 0.375rem 0.75rem; /*6px/12px*/
    font-size: /*0.9375rem*/18px; /*15px*/
}

.btn-pizza-card:hover {
    background-color: rgba(204, 85, 60, 1);
}

/*Paginador*/
#paginator {
    display: flex;
    justify-content: center;
    gap: 15px;
    margin-top: 20px;
}

#paginator button {
    padding: 10px 20px;
    font-size: 1rem;
    border: none;
    background-color: #333;
    color: #fff;
    border-radius: 5px;
    cursor: pointer;
}

#paginator button:disabled {
    background-color: #ddd;
    cursor: not-allowed;
}

/*****************************************/
/*****************************************/
/*Notificación de pizza agregada en carro*/
/*****************************************/
/*****************************************/
.toast-notification {
    position: fixed;
    bottom: 0.9375rem; /*15px*/
    right: 0.9375rem; /*15px*/
    background-color: #ef476f;
    color: #fff;
    padding: 0.9375rem; /*15px*/
    border-radius: 6px; /*15px*/
    box-shadow: 0 0 6px rgba(0, 0, 0, 1);
    z-index: 999;
    font-size: 18px;
    transition: opacity 0.3s, transform 0.3s;
    opacity: 0;
    transform: translateY(0.9375rem); /*15px*/
}

.toast-notification.show {
    opacity: 1;
    transform: translateY(0);
}

.toast-notification.hidden {
    display: none;
}

/************************/
/************************/
/*Sección Sobre nosotros*/
/************************/
/************************/
.about-details {
    text-align: center;
}

.about-details h2 {
    font-size: 45px; /*60px*/
    font-weight: 700;
    margin-bottom: /*0.9375rem*/30px; /*15px*/
}

.about-details p {
    font-size: 24px; /*18px*/
    font-weight: 400;
    color: #333333;
}

.about-img img {
    width: 100%;
    height: auto;
    border-radius: 6px; /*15px*/
}

.member {
    text-align: center;
}

.member img {
    width: 100%;
    height: auto;
    margin-bottom: 15px; /*9px*/
    clip-path: circle();
}

.member h3 {
    font-size: 30px; /*33px*/
    font-weight: 700;
    margin-bottom: 7.5px; /*3px*/
}

.member p {
    font-size: 21px; /*18px*/
}

/*********/
/*********/
/*Botones*/
/*********/
/*********/
.btn-menu-desplegable {
    color: #F5F5DC;
    padding: 0.375rem; /*6px*/
    border: none;
    background-color: transparent;
    font-size: 1.875rem; /*30px*/
    cursor: pointer;
    z-index: 2000;
    display: none;
}

.btn-reservacion {
    background-color: #f39c12;
    padding: 0.5625rem 0.75rem; /*6px/12px*/
    color: #ffffff;
    display: block;
    margin: auto;
}

.btn-reservacion:hover {
    background-color: #e67e00;
}

.btn-trash {
    background-color: #D32F2F;
    color: #ffffff;
    padding: 3px 6px;
    border: none;
    border-radius: 3px;
    font-size: 21px;
    cursor: pointer;
    transition: all 0.3s ease;
}

.btn-trash:hover {
    transform: scale(1.03);
    background-color: #B71C1C;
}

.btn-realizar-pedido {
    background-color: blue;
    color: #ffffff;
    padding: 0.5625rem; /*9px*/
    font-size: 1rem; /*16px*/
}

.btn-clear-all {
    background-color: #111111;
    color: #ffffff;
    padding: 0.5625rem; /*9px*/
    font-size: 1rem; /*16px*/
}

.btn-pedir {
    background-color: green;
    color: #ffffff;
    padding: 0.5625rem; /*9px*/
}

.btn-cancelar {
    background-color: #333333;
    color: #ffffff;
    padding: 0.5625rem; /*9px*/
}

.animate-bounce {
    animation: bounce 0.6s ease;
}

@keyframes bounce {
    0%, 100% {
        transform: translateY(0);
        transform: rotate(0);
    }
    25% {
        transform: translateY(-3px);
    }
    50% {
        transform: rotate(6deg);
    }
    75% {
        transform: rotate(-6deg);
    }
}

/*************/
/*************/
/*Mobile menu*/
/*************/
/*************/
.mobile-menu-container {
    display: none;
}

.menu-desplegable {
    position: fixed;
    top: 0;
    right: 0;
    height: 100vh;
    background-color: #000000;
    transform: translateX(100%);
    transition: transform 0.6s ease;
    display: flex; /*Usamos flexbox para centrar el contenido*/
    flex-direction: column;
    justify-content: end;
    align-items: center;
    padding: 30px;
    z-index: 1000; /*Asegura que el menú esté encima de otros elementos*/
}

.menu-desplegable.show-menu {
    transform: translateX(0);
}

/************************/
/*Links menú desplegable*/
/************************/
.links-nav {
    font-size: 1.125rem; /*18px*/
    font-weight: 500;
    text-transform: uppercase;
    text-align: center;
}

.links-nav > li {
    margin-bottom: 1.125rem; /*18px*/
}

.links-nav > li:last-child {
    margin-bottom: 0;
}

.links-nav > li > a {
    color: white;
    padding: 0.375rem; /*6px*/
    display: block;
}

/*************************/
/*Footer menú desplegable*/
/*************************/
.menu-desplegable-footer {
    margin-top: 1.875rem; /*30px*/
}

.social-media-menu {
    display: flex;
    align-items: center;
    justify-content: center;

    margin-bottom: 1.125rem; /*18px*/
}

.social-media-menu > li {
    width: 1.875rem;
    height: 1.875rem;

    border-radius: 50%;

    background-color: #D32F2F;

    margin-right: 0.9375rem;
}

.social-media-menu > li:last-child {
    margin-right: 0;
}

.social-media-menu > li > a {
    display: flex;
    align-items: center;
    justify-content: center;

    width: 100%;
    height: 100%;
}

.social-media-menu > li > a > i {
    color: black;
    font-size: 1.3125rem;
    font-weight: 500;
}

.menu-desplegable-footer > p {
    font-size: 0.8125rem;
    font-weight: 400;
    color: white;
}

/**/
/**/
/**/
.text-muted {
    font-size: 1.125rem; /*18px*/
    color: #666666;
    text-align: center;
    font-weight: 500;
}

/*******/
/*******/
/*Carro*/
/*******/
/*******/
.table-cart {
    width: 100%;
    box-shadow: 0 0px 3px rgba(0, 0, 0, 0.3);
    border-radius: 0.75rem; /*12px*/
    text-align: center;
    border-collapse: collapse;
    margin-bottom: 1.5rem; /*24px*/
}

.table-cart thead,
.table-cart tbody tr {
    border-bottom: 1px solid #dddddd;
}

.table-cart th,
.table-cart td {
    padding: 0.5625rem; /*9px*/
    font-size: 1.125rem;
}

.table-cart tbody tr:hover {
    background-color: #D6EEEE;
}

.table-cart img {
    max-width: 11.25rem; /*180px*/
    display: block;
    border-radius: 0.5625rem; /*9px*/
    margin: auto;
}

.plus-minus {
    padding: 3px 6px;
    background-color: #222222;
    color: #ffffff;
    font-size: 15px;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    transition: transform 0.3s ease;
}

.plus-minus:hover {
    transform: scale(1.03);
}

#cart-section-footer {
    display: none;
    align-items: center;
    justify-content: end;
}

#cart-section-footer button:last-child {
    margin-left: 0.9375rem; /*15px*/
}

.cart-cantidad {
    padding: 0px 0.9375rem; /*15px*/
}

/*************************/
/*************************/
/*Modal formulario pedido*/
/*************************/
/*************************/
.modal {
    display: none;
    z-index: 999;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    justify-content: center;
    align-items: center;
    opacity: 0; /*Inicialmente invisible*/
    transform: scale(0.3); /*Inicialmente más pequeño*/
    transition: opacity 0.3s ease, transform 0.3s ease; /*Transición suave */
}

.modal.show {
    display: flex;
    opacity: 1; /*Visible*/
    transform: scale(1); /*Tamaño normal*/
}

.pedido-modal-content {
    background-color: #ffffff;
    padding: 1.875rem; /*30px*/
    border-radius: 6px;
    max-width: 28.125rem; /*450px*/
    width: 100%;
    text-align: center;
}

.pedido-modal-content header {
    margin-bottom: 0.9375rem; /*15px*/
}

.pedido-modal-content header h2 {
    font-size: 2.625rem; /*42px*/
}

.form-pedido div {
    margin-bottom: 0.9375rem; /*15px*/
}

.form-pedido div:last-child {
    margin-bottom: 0;
    margin-top: 15px;
}

.form-pedido button {
    margin: 0 1.125rem; /*18px*/
}

.form-pedido div input,
.form-pedido div select,
.form-pedido div textarea {
    width: 100%;
    border-radius: 6px;
    border: 1px solid #d3d3d3;
    padding: 6px;
    font-size: 1rem; /*16px*/
    font-weight: 400;
    font-family: 'Montserrat', sans-serif;
}

.form-pedido div input,
.form-pedido div select {
    height: 2.0625rem; /*33px*/
}

.form-pedido div textarea {
    resize: none;
    height: 60px;
}